nav{
	width: 660px;
	margin: 0 auto 30px;
	border: 1px dotted black;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.topmenu > li {
	display: inline-block;
	margin-right: 20px;
	position: relative;
}
.topmenu > li:last-child {
	margin-right: 0;
}
a {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	outline: none;
	/*transition: .5s linear;*/
	border: 1px solid green;
}
.submenu{
	position: absolute;
	display: none;

}
li:hover .submenu{
	display: block;
}